.column {
  float: left;
  width: 50%;
}

.column img {
  margin: 10px;
  float: left;
  width: 150px;
  height: auto;
}

.column img:after,
.column:after {
  content: "";
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
